/**
* @plugin name WP Code Highlight
* @plugin url http://boliquan.com/wp-code-highlight/
*/
.str{color:#EC7600;}
.kwd{color:#93C763;}
.com{color:#66747B;}
.typ{color:#678CB1;}
.lit{color:#FACD22;}
.pun{color:#F1F2F3;}
.pln{color:#F1F2F3;}
.tag{color:#8AC763;}
.atn{color:#E0E2E4;}
.atv{color:#EC7600;}
.dec{color:purple;}
@media print{
.str{color:#060;}
.kwd{color:#006;font-weight:bold;}
.com{color:#600;font-style:italic;}
.typ{color:#404;font-weight:bold;}
.lit{color:#044;}
.pun{color:#440;}
.pln{color:#000;}
.tag{color:#006;font-weight:bold;}
.atn{color:#404;}
.atv{color:#060;}
}
pre.prettyprint{
    border:0px solid #888;background:#000;
	font-size:12.3px;line-height:16px;margin:6px 0px;padding:2px 7px;overflow:auto;width:98%;
}
ol.linenums li:before{content:none;}
ol.linenums{margin:0;padding-left:26px;}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9{color:#555;list-style-type:decimal;}
li.L1, li.L3, li.L5, li.L7, li.L9{background:#111;list-style-type:decimal;}